<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--
    //~开始的是office的一些碎片文件
    //.suo文件是vs解决方案生成的一些本地缓存文件
    //0.tmp文件是svn生成的一些版本文件
    -->
    <add key="tempFileExtention" value="^~.*;.*\.suo$;.*0\.tmp$"/>
  </appSettings>
</configuration>